---
import AppLayout from "../comp/AppLayout.astro";
import TanstackRouterRoot from "../react/TanstackRouterRoot.tsx";
import { env } from "cloudflare:workers";
import {
	getFirstDayOfCurrentMonth,
	getLastDayOfCurrentMonth,
	dateString,
} from "../lib/date";
import { getCalendarEvents } from "../lib/sql";

const { userId } = Astro.locals;
const db = env.sortinglifedb;

// Get current month date range
const firstDayOfMonth = getFirstDayOfCurrentMonth();
const lastDayOfMonth = getLastDayOfCurrentMonth();
const firstDayStr = dateString(firstDayOfMonth);
const lastDayStr = dateString(lastDayOfMonth);

if (!userId) {
	return new Response(null, {
		status: 302,
		headers: { Location: "/login" },
	});
}

const calendar = await getCalendarEvents(db, userId, firstDayStr, lastDayStr);

---

<AppLayout>
	<div 
		id="tanstack-router-root"
		data-user-id={userId}
		data-events={JSON.stringify(calendar)}
	></div>
	<TanstackRouterRoot client:load />
</AppLayout>
