---
import { getSession } from "../db/auth";
import AppLayout from "../layouts/AppLayout.astro";
import CalendarComp from "../react/calendar.tsx";

const session = await getSession(Astro.request);
if (!session) return Astro.redirect("/login");
---

<AppLayout>
	<h1>Calendar</h1>
	<main>
		<nav>
			<ul>
				<a href="/app">back to app</a>
			</ul>
		</nav>

		<CalendarComp client:idle />
	</main>
</AppLayout>
