---
import { env } from "cloudflare:workers";

const db = env.sortinglifedb;

if (!db) {
	console.log("no db", env);
	return;
}

const { results } = await db.prepare("SELECT * FROM users").all();
console.log(results);
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Sort yourself our</title>
	</head>
	<body>
		<h1>Sort my life out</h1>
		<p class="x">asdasdasd</p>

		please <a href="/login">login</a> to continue.
	</body>
</html>
