---
import Layout from "./Layout.astro";

const { userId } = Astro.locals;
if (!userId) return Astro.redirect("/login");
---

<Layout>
	<header class="flex justify-between bg-lime-100 px-4">
		<h1>Sort your life out</h1>
		<a href="/api/logout" class="font-medium">Logout</a>
	</header>
	<slot />
</Layout>
